<!DOCTYPE html>
<html>
  <head>
    <title>Reddit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Meddit</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    </ul>
    <form class="form-inline my-2 my-lg-0">

      <% if current_user %>
             Welcome, <%= current_user.email %> &nbsp;
            <%= link_to "New Post", new_gram_path, class: 'spacer' %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'spacer' %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: 'spacer' %>
            <%= link_to "Sign Up", new_user_registration_path, class: 'spacer' %>
          <% end %>
        <%= form_tag(grams_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
          <%= submit_tag "Search" %>
        <% end %>
    </form>
  </div>
</nav>




      <% if alert.present? %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>

    <%= yield %>
  </body>
</html>
